body{
    margin-left: 200px;
    margin-right: 200px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(238, 234, 234);
}
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
li{
    float: left;
    background-color: white;
    margin-right: 10px;
    margin-top: 0px;
}
li .a{
    padding-top: 10px;
    padding-left: 10px;
    width: 280px;
    height: auto;
    text-align: justify;
}
li .b{
    padding-top: 0px;
    padding-left: 10px;
    font-size: smaller;
    width: 280px;
    height: auto;
    text-align: justify;
}
h1{
    text-decoration: none;
    text-align: center;
}
img{
    width: 290px;
    height: auto;
    margin: 0px;
    background-color: white;
}
#par{
    color: blue;
    text-align: center;
}
div .a{
    display: block;
    background-color: red;
    text-align: justify;
    width: 290px;
    height: auto;
    margin-right: 15px;
    float: left;
}

